<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahulrspp.multipleandroidstuff" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Android Services"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.rahulrspp.multipleandroidstuff.OptionActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.rahulrspp.multipleandroidstuff.services.localBinding.LocalActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.rahulrspp.multipleandroidstuff.services.remoteClientSideBinding.RemoteClientSideActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.rahulrspp.multipleandroidstuff.thread.looper.LooperActivity"
            android:screenOrientation="portrait"/>

        <service android:name="com.rahulrspp.multipleandroidstuff.services.localBinding.MyLocalService" android:exported="false"/>

    </application>

</manifest>